/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-family: "Epilogue", sans-serif;
}

.main-header-container {
  display: flex;
  height: 8rem;
  align-items: center;
  font-size: 1.3rem;
  position: relative;
}

.main-header__icon {
  width: 8.4rem;
  height: 2.6rem;
}

.main-navbar {
  margin-left: 4rem;
}

.main-navbar-list {
  display: flex;
  gap: 2.5rem;
}

.main-navbar-list-item {
  position: relative;
}

.main-navbar-list-item__link {
  color: hsl(0deg, 0%, 41%);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.main-navbar-list-item__link:hover {
  color: hsl(0deg, 0%, 8%);
}

.arrow {
  pointer-events: none;
}

.buttons-container {
  justify-self: start;
  position: absolute;
  display: flex;
  gap: 1.5rem;
  right: 0;
}

.buttons-container__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
}
.buttons-container__button:hover {
  color: hsl(0deg, 0%, 8%);
}

.main-navbar-list-item__link,
.buttons-container__button {
  color: hsl(0deg, 0%, 41%);
  font-weight: 500;
}

.button--border {
  border: 0.2rem solid hsl(0deg, 0%, 41%);
  border-radius: 1.4rem;
}
.button--border:hover {
  border-color: hsl(0deg, 0%, 8%);
}

.burger-menu {
  display: none;
}

.burger-menu__menu {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: none;
}

.dropdown-menu {
  position: absolute;
  bottom: -16rem;
  left: -5rem;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  width: 13rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.3450980392);
}

.dropdown-menu-item {
  width: 100%;
}

.dropdown-menu-item__link {
  display: flex;
  color: hsl(0deg, 0%, 41%);
  width: inherit;
  gap: 1rem;
}
.dropdown-menu-item__link:hover {
  text-decoration: underline;
}

.dropdown-menu-item__icon {
  font-size: 1.3rem;
}

.main-navbar-list-item:nth-child(2) .dropdown-menu {
  bottom: -13.2rem;
}

.dropdown-menu-item:nth-child(1) .dropdown-menu-item__icon {
  color: rgb(114, 108, 238);
}

.dropdown-menu-item:nth-child(2) .dropdown-menu-item__icon {
  color: rgb(75, 177, 218);
}

.dropdown-menu-item:nth-child(3) .dropdown-menu-item__icon {
  color: rgb(237, 213, 86);
}

.dropdown-menu-item:nth-child(4) .dropdown-menu-item__icon {
  color: rgb(142, 76, 182);
}

@media (max-width: 744px) {
  .buttons-container,
  .main-navbar-list {
    display: none;
  }
  .main-header-container {
    justify-content: space-between;
  }
  .burger-menu {
    display: block;
  }
  .burger-menu__menu {
    font-size: 3.5rem;
    cursor: pointer;
  }
}
.main-content {
  display: flex;
  height: calc(100vh - 8rem);
  padding: 0 15rem;
  gap: 1.5rem;
}

.main-content-section {
  flex: 1;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-content-section__title {
  color: hsl(0deg, 0%, 8%);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.main-content-section__paragrapgy {
  color: hsl(0deg, 0%, 41%);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 4rem;
  font-weight: 500;
}

.main-content-section__link {
  background-color: hsl(0deg, 0%, 8%);
  color: #fff;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border: 0.2rem solid transparent;
  transition: all 0.3s;
}
.main-content-section__link:hover {
  color: hsl(0deg, 0%, 8%);
  border-color: hsl(0deg, 0%, 8%);
  background-color: transparent;
}

.partner-container {
  margin-top: 10rem;
  width: 100%;
  max-width: 60rem;
}

.list-of-partners {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.banner-section {
  flex: 1;
  position: relative;
}

.banner-section__img {
  height: 90%;
  position: absolute;
  right: 0;
  max-width: 48.6rem;
}

@media (max-width: 1284px) {
  .main-content {
    padding: 0 3rem;
  }
}
@media (max-width: 927px) {
  .banner-section {
    display: none;
  }
}
@media (max-width: 744px) {
  .main-content {
    flex-direction: column-reverse;
    height: auto;
    padding: 0rem;
  }
  .main-content-section__title--br {
    display: none;
  }
  .main-content-section {
    padding: 0 1.5rem;
    align-items: center;
  }
  .main-content-section__paragrapgy,
  .main-content-section__title {
    text-align: center;
  }
  .banner-section {
    display: flex;
    min-height: 40rem;
    justify-content: center;
  }
  .banner-section__img {
    right: initial;
  }
}
.container {
  padding: 0 4rem;
}

/*# sourceMappingURL=main.css.map */
