/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#root {
  display: grid;
  grid-template-areas: "navbar header header header" "navbar main main main";
  grid-template-columns: 15rem auto auto auto;
  grid-template-rows: 9rem calc(100vh - 9rem);
  font-family: "Roboto", sans-serif;
}

.main-header {
  background-color: #2f363c;
  grid-area: header;
}

.main-navbar {
  background-color: #2f363c;
  grid-area: navbar;
}

.main-navbar-link-list-item {
  position: relative;
  height: 9rem;
}

.main-navbar-link-list-item__link {
  color: #a1a5a8;
  border-bottom: 0.2rem solid #000;
  border-right: 0.2rem solid #000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.main-navbar-link-list-item__link:hover {
  background-color: #3f4851;
}
.main-navbar-link-list-item__link:hover .icon--color {
  color: #04a2d0;
}

.main-navbar-link-list-item__link--selected {
  background-color: #3f4851;
  border-right: none;
}

.main-navbar-link-list-item__link--selected .icon--color {
  color: #04a2d0;
}

.link--selected {
  background-color: #3f4851;
}

.link--selected .navigation-icon-container {
  border-left: 0.7rem solid #04a2d0;
  height: 100%;
  width: 100%;
}

.link--selected .icon--color {
  color: #04a2d0;
}

.navigation-icon-container {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  height: 100%;
  width: 100%;
}

.navigation-icon-container__icon {
  font-size: 2.3rem;
  color: #a1a5a8;
}

.link__arrow-icon {
  position: absolute;
  right: 1.5rem;
}

.dropdown-navigation-list {
  background-color: #3f4851;
  position: absolute;
  left: 150px;
  height: 30rem;
  width: 20rem;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.dropdown-navigation-list-item {
  flex: 1;
}

.dropdown-navigation-list-item__link {
  height: 100%;
  align-items: center;
  color: #a1a5a8;
  font-size: 1.3rem;
  display: flex;
  padding-left: 1rem;
  transition: all 0.3s;
}
.dropdown-navigation-list-item__link:hover {
  background-color: #596470;
}

.main-content {
  background-color: #ffffff;
  grid-area: main;
}

/*# sourceMappingURL=main.css.map */
